.calContainer {
  @apply shadow-md min-w-full sm:min-w-[760px] h-full md:h-[500px];
  max-width: 800px;
}

.datePick {
  @apply mr-4;
  width: 220px;
}

.slot {
  @apply border px-8 py-4 rounded-md inline-block hover:bg-slate-200 mr-4 mb-4;
  width: 140px;
}

select {
  @apply border;
  width: 180px;
}

select option {
  @apply px-4 py-2;
}

select option::selection{
  @apply bg-slate-200;
}

.datePickLg {
  @apply hidden md:block;
}

.datePickMobile {
  @apply block md:hidden;
}